<div class="home-affairs">
    <!-- Summary Section -->
    <div class="report-header">
        <h1>{{ homeAffairsData?.summary?.title }}</h1>
        <p class="description">{{ homeAffairsData?.summary?.description }}</p>
        <div class="meta-info">
        </div>
    </div>
</div>

<div class="charts-section">
    <div class="charts-grid">
        <div class="chart-card">
            <h3>{{ homeAffairsData?.genderRatio?.title }}</h3>
            <p class="chart-type"></p>
            <div class="flex justify-center">
                <p-chart type="pie" class="w-full md:w-[30rem]" [data]="homeAffairsData?.genderRatio"
                         [options]="pieOptions" />
            </div>
        </div>
    </div>
</div>

<div class="facilities-section">
    <h2>{{homeAffairsData?.staffList?.title}}</h2>
    <table class="facilities-table">
        <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Chức vụ</th>
            <th>Giới tính</th>
            <th>Ngày vào ngành</th>
            <th>Tình trạng</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of homeAffairsData?.staffList?.records">
            <td>{{ item.fullName }}</td>
            <td>{{ item.position }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.joinDate }}</td>
            <td>{{ item.status }}</td>
        </tbody>
    </table>
</div>

<div class="facilities-section">
    <h2>{{homeAffairsData?.rewardStatistic?.title}}</h2>
    <table class="facilities-table">
        <thead>
        <tr>
            <th>Loại khen thưởng</th>
            <th>Số lượng (năm 2023)</th>
            <th>Số lượng (năm 2024)</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of homeAffairsData?.rewardStatistic?.records">
            <td>{{ item.rewardType }}</td>
            <td>{{ item.count2023 }}</td>
            <td>{{ item.count2024 }}</td>
        </tbody>
    </table>
</div>
